.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}
.submit-line {
  display: inline;
}

.whole-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.righ-column {
  width: 70%;
}
.serie-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: outset;
  border-color: #666363;
  border-width: 4px;
  border-radius: 6%;
  box-sizing: border-box;
  padding: 9px;
  margin: 10px;
  width: 220px;
  height: 370px;
}

.series {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.search-btn {
  background-color: brown;
  color: white;
}

.righ-column {
  display: flex;
  justify-content: center;
}
.title-serie {
  display: flex;
  font-family: 'Oxygen', sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.selected-series {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selected-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px;
  margin: 4px 0px;
  border: 4px;
  width: 230px;
}
.title-left {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}
.title-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  font-family: 'Oxygen', sans-serif;
}

.favourite-title {
  font-size: 14px;
  width: 50px;
  font-family: 'Oxygen', sans-serif;
}
.img-favourite {
  width: 100px;
}

.selected-favourite {
  background-color: brown;
  color: white;
}
